{% include "header.html" %}
{% block body %}

<div class="panel=heading">
    <h2>Add <a class="pull-right btn btn-success" href="/">Back</a></h2>
</div>

<div class="panel-body">

    <form action="{{ url_for('processData') }}" method="post">
        $<insertFormFields>

        <div class="form-group">
            <input type="hidden" name="id" value="1">
            <input type="hidden" name="action" value="edit">
            <input type="submit" class="btn btn-success" name="submit" value="Add">
        </div>

    </form>

</div>
{% endblock %}